.container {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}
.item1 {
  background-color: red;
  width: -webkit-fill-available;
}
.item2 {
  background-color: blueviolet;
  width: -webkit-fill-available;
}
.item {
  height: 40px;
  border: 1px solid;
  text-align: center;
}
